.gradle/
**/build/
dist/
work/
*.log
local.properties
keystore.properties
signing/
*.jks
*.keystore

# This working preservation tree contains locally extracted Google assets.
# Do not publish those files without determining that you have the rights to do so.
