<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:icon="@drawable/ic_whirlybird"
        android:label="Whirlybird"
        android:supportsRtl="true"
        android:theme="@style/Theme.Whirlybird">
        <activity
            android:name="com.google.android.apps.play.games.features.eastereggs.boingo.BoingoGameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:icon="@drawable/ic_whirlybird"
            android:label="Whirlybird"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.google.android.play.games.whirlybird"
            android:theme="@style/Theme.Whirlybird">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
